*{
    margin: 0px 0px;
    font-family: Inter, sans-serif;
    padding: 0px;
}
body{
    background-color: #f5f5f5;

}

.highlight{
    color: #C1262E;
}
.highlight-2{
    color: #f9f9f9;
}


/*navbar*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: #C1262E;
}
nav .logo{
    display: flex;
    font-size: 2em;
    gap: 10px;
    font-weight: 700;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: #f5f5f5;
}
.menu ul li{
    display: inline-block;    
}

.menu ul li a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

.menu .dropdown-content {
    display: none;
    position: absolute;
    background: #c1262e;
    border-radius: 10px;
}
.menu .dropdown:hover .dropdown-content {
    transition: all 0.5s ease;
    display: block;
}
.menu .dropdown-content a {
    color: #fff;
    padding: 10px 36px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.menu .dropdown-content a:hover {
    color: #2e2e2e;
    transition: all 0.5s ease;
}
.regist ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.regist ul li{
    display: inline-block;
}
.regist ul li a{    
    display: inline-block;
    color: #fcfcfc;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}
.regist .sign-up{
    background-color: #ff5656;
    border-radius: 30px;
    padding: 0px 20px;   
}
.regist .log-in a:hover{
    color:#4e4e4e
}
.regist .sign-up:hover{
    background-color: #4e4e4e;
    transition: all 0.5s;
    cursor: pointer;
}
/* akhir navbar */

.container-1{
    padding-bottom: 10px;
}
.container-1 h1{
    text-align: center;
    margin-top: 20px;
}
.section-5B{
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
}
.card{
    display: flex;
    width: 48%;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
    margin: 10px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.5s;
}
.card .header-card{
    height: 200px;
    background-color: #C1262E;
    flex-wrap: wrap;
}
.card .header-card img {
    height: 100%;
    object-fit: cover;
}
.card .content .date{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.card .content{
    text-align: left;
    padding: 10px 20px 20px 20px;
    font-size: 0.7em;
}
.card .content h3{
    margin-bottom: 5px;
    font-size: 1.4em;
}
.card .content p{
    font-size: 1.2em;
}
.card .content a{
    text-decoration: none;
    color: #c1262e;
}
.card .content .highlight:hover{
    color: #2926c1;
}

.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto;
}
.section-2A h3{
    font-weight: 600;
    color: #C1262E;
}
.section-2B{
    text-align: center;
}
.logo_partners{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-2B h1{
    border-bottom: 4px solid #C1262E;
    line-height: 50px;
}

.thumbnail{
    width: 15%;
}
.thumbnail img{
    width: 100%;
}

/* Footer Section */
.container-3{
    padding: 40px 50px;
    background-color: #2e2e2e;
    color: #7c7c7c;
    font-size: 0.9em;
}
.container-3 ul li{
    list-style: none;
}
.container-3 a{
    text-decoration: none;
    color: #7c7c7c;
}
.container-3 a:hover{
    color: #f5f5f5;
}
.bagian-1{
    display: flex;
}
.wrapper-satu{
    flex-grow: 2;
    padding-bottom: 150px;
}
.section-3A{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 1.2em;
}
.section-3AA{
    padding-top: 10px;
    width: 60%;
}
.section-3C li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.wrapper-dua{
    /* background-color: #e24e4e; */
    flex-grow: 1;
    display:flex;
    justify-content: space-between;
    line-height: 35px;
    font-weight: 400;
}
.bagian.dua{
    margin: 20px 0px;
    color: #7c7c7c;
    display: flex;
    justify-content: space-between;
}
.my-social p{
    margin-bottom: 10px;
}
.my-social a{
    padding-right: 3px;
}
/* akhir footer section */